@model IEnumerable<CRA.DataAccess.AssignmentViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Liste des Assignements";
}
@{
    var adminId = ViewData["AdminId"];
}
<div class="text-center">
<h1>Liste des affectations</h1>
<p>
    <a asp-action="Create" asp-route-adminId="@adminId">>Créer une nouvelle affectation</a>
</p>

    <form asp-action="Index" method="get">
        <div class="form-group">
            <input type="text" name="searchString" value="@ViewData["SearchString"]" class="form-control" placeholder="Recherche par libellé" />
            <input type="hidden" name="id" value="@ViewData["AdminId"]" />
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>Libellé</th>
            <th>Description</th>
            <th>Salarié</th>
            <th>Début de la période</th>
            <th>Fin de la période</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in Model)
        {
            <tr>
                <td>@assignment.Libelle</td>
                <td>@assignment.Description</td>
                <td>@assignment.Username?</td>
                <td>@assignment.Start?.ToString("yyyy-MM-dd")</td>
                <td>@assignment.End?.ToString("yyyy-MM-dd")</td>
                <td>
                    @Html.ActionLink("Editer", "Edit", new { code = assignment.Code, adminId = ViewData["AdminId"] }) 
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
