@model IEnumerable<CRA.DataAccess.AssignmentViewModel>


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Liste des Assignements";
}

<h1>Liste des Assignements</h1>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Libellé</th>
            <th>Utilisateur</th>
            <th>Début</th>
            <th>Fin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignment in Model)
        {
            <tr>
                <td>@assignment.Code</td>
                <td>@assignment.Libelle</td>
                <td>@assignment.Username</td>
                <td>@assignment.Start?.ToString("yyyy-MM-dd")</td>
                <td>@assignment.End?.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
