@model IEnumerable<CRA.Models.Assignment>
@using System.Globalization


@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    ViewData["Title"] = "Assignments";
}

<h1>Vos missions</h1>
<input type="hidden" name="id" value="@ViewData["EmployeeId"]" />
<table class="table">
    <thead>
        <tr>
            <th>
                Libellé
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="AssignmentDetails" asp-route-employeeId="@ViewData["EmployeeId"]" asp-route-code="@item.Code">Détails</a>
            </td>
        </tr>
}
    </tbody>
</table>
