@model IEnumerable<CRA.Models.TimeSlot>

@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    ViewData["Title"] = "Assignment Details";
}

<div class="text-center">
<h1>Détails de la mision</h1>
<hr />
<p><strong>Libellé :</strong> @ViewData["AssignmentLibelle"]</p>
<p><strong>Description :</strong> @ViewData["AssignmentDescription"]</p>
<hr />
<p><strong>Début de la mission :</strong> @ViewData["PeriodStart"]</p>
<p><strong>Fin de la mission :</strong> @ViewData["PeriodEnd"]</p>

    

<hr />

<h3>Liste des créneaux de la mission</h3>
<input type="hidden" name="id" value="@ViewData["EmployeeId"]" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Début</th>
            <th>Fin</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var timeSlot in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => timeSlot.Start)</td>
                <td>@Html.DisplayFor(modelItem => timeSlot.End)</td>
                    <td>
                        @if (timeSlot.State != "VALIDATED" && timeSlot.State != "SENT")
                        { 
                        @using (Html.BeginForm("DeleteTimeSlot", "HomeEmployee", FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-danger" asp-action="DeleteTimeSlot" asp-route-employeeId="@ViewData["EmployeeId"]" asp-route-code="@ViewData["AssignmentCode"]" asp-route-timeSlotId="@timeSlot.Id">Supprimer</button>
                        }
                        }
                    </td>
            </tr>
        }
    </tbody>
</table>

    <hr />
    <!-- Form to add a new TimeSlot -->
    @using (Html.BeginForm("AddTimeSlot", "HomeEmployee", FormMethod.Post))
    {
        <!-- Lien pour rediriger vers AddTimeSlot avec les paramètres dans la query string -->
        <a class="btn btn-success" asp-action="AddTimeSlot" asp-route-employeeId="@ViewData["EmployeeId"]" asp-route-code="@ViewData["AssignmentCode"]">
            Ajouter un nouveau créneau
        </a>

    }
</div>
