@model CRA.Models.TimeSlot

@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    ViewData["Title"] = "Add TimeSlot";
}
<div class="text-center">
<h3>Ajouter un nouveau créneau</h3>
<hr />
<form asp-action="AddTimeSlot" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.AntiForgeryToken()

    <input type="hidden" name="employeeId" value="@ViewData["EmployeeId"]" />

    <div class="form-group">
            <label asp-for="Start" >Date de début</label>
        <input asp-for="Start" type="datetime-local" class="form-control" />
        <span asp-validation-for="Start" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="End">Date de fin</label>
        <input asp-for="End" type="datetime-local" class="form-control" />
        <span asp-validation-for="End" class="text-danger"></span>
    </div>
        <input type="hidden" asp-for="State" value="ADDED" />
    <input type="hidden" asp-for="AssignmentCode" value="@ViewData["AssignmentCode"]" />
    <hr />
    <button type="submit" class="btn btn-primary" asp-route="@ViewData["EmployeeId"]" asp-route-code="@ViewData["AssignmentCode"]">Ajouter</button>
</form>
</div>