@model CRA.Models.Assignment

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Suppression Assignement";
}

<h1>Suppression</h1>

<h3>Voulez vous vraiment supprimer ceci ?</h3>
<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" asp-route-adminId="@ViewData["AdminId"]" /> |
        <a asp-action="Index" asp-route-id="@ViewData["AdminId"]">Back to List</a>
    </form>
</div>
